/frontend-out/
/staticfiles/

/.env.local

/*.sqlite3
/*.sqlite3-*
/zakuchess.prod.backup*

/.venv/

# uv-related stuff:
/bin/uv
/bin/uvx
*.egg-info

/.docker/*
!/.docker/.gitkeep

# various tools' cache folders:
.*_cache
*.pyc
__pycache__/

# Logs
logs
*.log
npm-debug.log*

# Node.js-related stuff:
/node_modules/
