/frontend-out/

/.env.local

/db.sqlite3

/.venv/

/.docker/*
!/.docker/.gitkeep

# various tools' cache folders:
.*_cache
*.pyc
__pycache__/

# Logs
logs
*.log
npm-debug.log*

# Node.js-related stuff:
/node_modules/
