{
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "all",
	"semi": false,
	"printWidth": 119,
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrder": ["^node:", "^@?next/", "<THIRD_PARTY_MODULES>", "^$lib/", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
