.chess-board-pieces {
  .piece {
    background-position: center;

    //filter: grayscale(70%);
    //&.active-player {
    //  filter: none;
    //}

    &.piece-p .piece-display {
      background-image: url("/static/chess/units/default/fencer.png");
    }
    &.piece-n .piece-display {
      background-image: url("/static/chess/units/default/horseman.png");
    }
    &.piece-b .piece-display {
      background-image: url("/static/chess/units/default/bowman.png");
      //background-size: 105%;
    }
    &.piece-r .piece-display {
      background-image: url("/static/chess/units/default/shocktrooper.png");
      //background-size: 115%;
    }
    &.piece-q .piece-display {
      background-image: url("/static/chess/units/default/red-mage+female.png");
      //background-size: 120%;
    }
    &.piece-k .piece-display {
      background-image: url("/static/chess/units/default/general.png");
      //background-size: 120%;
    }
  }
}
