@import "../../../../../lib/frontend-common/scss/variables";
@import "../../../../../lib/frontend-common/scss/mixins";
@import "chess-board";

.game-container {
  margin: 0 auto;

  .piece {
    &.side-b {
      .piece-display {
        transform: scaleX(-100%);
      }
    }

    .piece-display {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  .chess-board-meta-display {
    position: relative;
    //height: 5rem;

    background-color: $color-black-ish;
    border: 1px solid #000511;
    color: #f0f0f0;

    b {
      color: yellow;
    }

    & > .overlay {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #e4b55d;
    }

    //.chess-board-status {
    //  display: flex;
    //  height: 3rem;
    //  text-align: center;
    //  & > div {
    //    height: 100%;
    //  }
    //}

    .board-explanation {
      z-index: 1;
      h4 {
        margin: 0.5rem 0 0 0;
        text-align: center;
      }
      ul {
        margin-top: 1rem;
        list-style: square;
        li {
          margin: 0 0 0.2rem 2rem;
          font-size: 0.8rem;
        }
      }
    }

    .overlay.selected-team-member-display {
      z-index: 2;
      display: flex;
      align-items: center;

      &.hidden {
        display: none;
      }

      p {
        margin: 0.5rem 0;
        color: #a57713;

        &.appearance {
          transition: color 0.5s ease-out;
          color: #000030;
        }
      }

      .team-member-piece-container {
        height: 5rem;
        aspect-ratio: 1/1;
        margin-right: 1rem;

        .piece {
          width: 100%;
          height: 100%;
        }
      }

      .team-member-info {
      }
    }

    .overlay.move-confirmation-display {
      z-index: 3;

      .move-confirmation-container {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;

        & > div {
          padding: 0.5rem 0;
          text-align: center;
        }
      }
    }
  }
}
