@import "../../../../../lib/frontend-common/scss/variables";
@import "../../../../../lib/frontend-common/scss/mixins";

#global-container {
  width: 100%;
  @include desktop-screen {
    max-width: 700px;
    margin: 0 auto;
  }

  header {
    font-family: "PixelFont", serif;
    background-color: $color-black-ish;
    color: #f0f0f0;

    h1,
    h2 {
      text-align: center;
    }

    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
}
