@import "../../../../../lib/frontend-common/scss/helpers";
@import "../../../../../lib/frontend-common/scss/mixins";
@import "layout";

@font-face {
  font-family: "PixelFont";
  src: url("/static/webui/fonts/fibberish.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  src: url("/static/webui/fonts/OpenSans.woff2") format("woff2");
}

html,
body {
  font-family: "OpenSans", serif;
  font-size: 18px;
  //@include desktop-screen {
  //  font-size: 16px;
  //}
}
