<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>ZakuChess ♞</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="ZakuChess" />
        <meta name="keywords" content="chess roleplay" />
        <link rel="stylesheet" href="{{ static("webui/css/tailwind.css") }}" />
        <link rel="stylesheet" href="{{ static("webui/css/main.css") }}" />
        <script src="{{ static("webui/js/main.js") }}" defer></script>
        {{ django_htmx_script() }}

        {% block additional_css %}{% endblock %}

        {% block additional_js %}{% endblock %}
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <div id="global-container">
            <div id="chess-bot-data"
                 style="display: none"
                 data-stockfish-urls='{{ {"wasm": static("chess/js/bot/stockfish.wasm.js"), "js": static("chess/js/bot/stockfish.js")}|tojson }}'>
            </div>
            <header>
                <h1>Zakuchess</h1>
                <h2>Chess with character(s)</h2>
            </header>

            {% block content %}{% endblock %}
        </div>
    </body>
</html>
