@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "OpenSans";
        src: url("/fonts/OpenSans.woff2") format("woff2");
    }
    @font-face {
        font-family: "Fibberish";
        src: url("/fonts/fibberish.ttf") format("truetype");
    }
}
