.chess-board-container {
  max-width: 45rem;
  aspect-ratio: 1/1; // 💙
  margin: 0 auto;
  position: relative;

  $square-light-color: #dddddd;
  $square-dark-color: #b9493d;

  border: solid navy 1px;

  .square {
    position: absolute;
    width: 12.5%;
    height: 12.5%;
  }

  $letters: [a, b, c, d, e, f, g, h];
  $numbers: [1, 2, 3, 4, 5, 6, 7, 8];
  $counter_x: 0;
  $counter_y: 0;
  @each $letter in $letters {
    @each $number in $numbers {
      .square-#{$letter}#{$number} {
        top: 12.5% * $counter_y;
        left: 0 + (12.5% * $counter_x);
      }
      $counter_x: $counter_x + 1;
    }
    $counter_x: 0;
    $counter_y: $counter_y + 1;
  }

  .chess-board-background {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    border: solid green 1px;

    > .square {
      border: solid black 1px;

      &:nth-child(even) {
        &.square-odd-row {
          background-color: $square-dark-color;
        }
        &.square-even-row {
          background-color: $square-light-color;
        }
      }
      &:nth-child(odd) {
        &.square-odd-row {
          background-color: $square-light-color;
        }
        &.square-even-row {
          background-color: $square-dark-color;
        }
      }
    }
  }

  .chess-board-pieces {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    //border: dotted red 1px;

    .piece {
      //background-color: #ff000080;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: top 0.3s ease-out, left 0.3s ease-out;

      &.active-player {
        //box-shadow: 0 0 1px 1px #fff;
        cursor: pointer;
      }

      &.selected {
        box-shadow: 0 0 10px 10px #fff;
        z-index: 1;
      }

      &.side-w {
        color: white;
      }
      &.side-b {
        color: black;
      }

      .piece-debug {
        font-size: 2rem;
        small {
          font-size: 0.8rem;
        }
      }
    }
  }

  .chess-board-available-targets {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    pointer-events: none;

    .target {
      pointer-events: auto;
      cursor: pointer;
      &:before {
        content: "";
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        width: 25%;
        height: 25%;
        background-color: #303040c0;
        border-radius: 100%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.chess-board-captured-pieces {
  max-width: 15rem;
  margin: 0 auto;
}
