@import "functions";

$piece-active-side-glow-color: #ffffff;
$piece-selected-glow-color: #ffff00;
$piece-glow-width: 1px;
$piece-selected-glow-width: 1px;

.chess-board-container {
  aspect-ratio: 1/1; // 💙
  margin: 0;
  position: relative;

  //$square-light-color: #dddddd;
  //$square-dark-color: #b9493d;
  $square-light-color: #e4b55d;
  $square-dark-color: #a57713;

  $piece-side-w-marker-border-color: #ffffff;
  $piece-side-w-marker-bg-color: #ffffff50;
  $piece-side-b-marker-border-color: #000030;
  $piece-side-b-marker-bg-color: #00003050;

  //border: solid navy 1px;

  .square {
    position: absolute;
    width: 12.5%;
    height: 12.5%;
  }

  $letters: [a, b, c, d, e, f, g, h];
  $numbers: [1, 2, 3, 4, 5, 6, 7, 8];
  $counter_x: 0;
  $counter_y: 0;
  @each $letter in $letters {
    @each $number in $numbers {
      .square-#{$letter}#{$number} {
        top: 12.5% * $counter_y;
        left: 0 + (12.5% * $counter_x);
      }
      $counter_x: $counter_x + 1;
    }
    $counter_x: 0;
    $counter_y: $counter_y + 1;
  }

  .chess-board-background {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    pointer-events: none;

    //border: solid green 1px;

    > .square {
      // border: solid black 1px;

      &:nth-child(even) {
        &.square-odd-row {
          background-color: $square-dark-color;
        }
        &.square-even-row {
          background-color: $square-light-color;
        }
      }
      &:nth-child(odd) {
        &.square-odd-row {
          background-color: $square-light-color;
        }
        &.square-even-row {
          background-color: $square-dark-color;
        }
      }

      .square-debug {
        font-size: 0.5rem;
        color: #6f500b;
      }
    }
  }

  .chess-board-pieces {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    //border: dotted red 1px;

    .piece {
      //background-color: #ff000080;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: top 0.3s ease-out, left 0.3s ease-out;
      cursor: pointer;

      .piece-display {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      &.my-side.can-move .piece-display {
        //filter: drop-shadow-solid($piece-glow-width, $piece-active-side-glow-color);
      }

      &.my-side.can-move.selected .piece-display {
        animation: 0.8s infinite alternate selected-piece-glow;
      }

      &.side-w,
      &.side-b {
        &:before {
          content: "";
          position: absolute;
          z-index: 1;
          display: block;
          bottom: 2%;
          width: 80%;
          height: 40%;
          border-radius: 50%;
          border-style: solid;
          border-width: 1px;
        }
        &.side-w {
          &:before {
            border-color: $piece-side-w-marker-border-color;
            background-color: $piece-side-w-marker-bg-color;
          }
        }
        &.side-b {
          &:before {
            border-color: $piece-side-b-marker-border-color;
            background-color: $piece-side-b-marker-bg-color;
          }
        }
        &.is-potential-capture {
          $potential-capture-marker-border-color: #ff0000;
          .piece-display {
            filter: drop-shadow-solid($piece-glow-width, $potential-capture-marker-border-color);
          }
        }

        &.side-w.my-side.can-move,
        &.side-b.my-side.can-move {
          &:before {
            filter: drop-shadow-solid($piece-glow-width, #00ff0015);
          }
        }

        .piece-display {
          z-index: 2;
        }
      }

      .piece-debug {
        display: none;
        //font-size: 2rem;
        //small {
        //  font-size: 0.8rem;
        //}
      }
    }
  }

  .chess-board-available-targets {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    pointer-events: none;

    .target {
      pointer-events: auto;
      cursor: pointer;

      $target-marker-alpha: -30%;

      &:before {
        content: "";
        position: absolute;
        display: block;
        width: 20%;
        height: 20%;
        top: 40%; // (100% - 20%) / 2
        left: 40%; // ditto
        border-radius: 50%;
        border-style: solid;
        border-width: 2px;
      }

      $target-color-w: #ffff00; // $piece-side-w-marker-border-color
      $target-color-b: #ffff00; // $piece-side-b-marker-border-color
      &.side-w {
        &:before {
          border-color: scale-color($target-color-w, $alpha: $target-marker-alpha);
          background-color: scale-color($target-color-w, $alpha: $target-marker-alpha);
        }
      }
      &.side-b {
        &:before {
          border-color: scale-color($target-color-b, $alpha: $target-marker-alpha);
          background-color: scale-color($target-color-b, $alpha: $target-marker-alpha);
        }
      }

      //$capture-color: red;
      //&.is-capture {
      //  &:before {
      //    opacity: 70%;
      //    border-color: scale-color($capture-color, $alpha: $target-marker-alpha);
      //    background-color: scale-color($capture-color, $alpha: $target-marker-alpha);
      //  }
      //}
    }
  }
}

.chess-board-captured-pieces {
  max-width: 15rem;
  margin: 0 auto;
}

@keyframes selected-piece-glow {
  // Had a cooler "selected" effect, with a drop shadow going from one color to another, but Safari iOS
  // start doing absolute nonsense as soon as we do this so let's opt for something less good... 😅
  from {
    filter: brightness(120%);
  }

  to {
    filter: brightness(100%);
  }
}
