@import "helpers";
@import "mixins";
@import "layout";

@font-face {
  font-family: "PrStart";
  src: url("/static/webui/fonts/PrStart.ttf") format("truetype");
}

html,
body {
  font-family: "PrStart", serif;
  font-size: 10px;
  @include desktop-screen {
    font-size: 16px;
  }
}
