* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  font-size: 16px;
}

html, body {
  margin: 0;
  padding: 0;
}