{% extends "webui/_layout.tpl.html" %}

{% block additional_css %}
    <link rel="stylesheet" href="{{ static("chess/css/game-container.css") }}" />
    <link rel="stylesheet"
          href="{{ static("chess/css/chess-units/theme/default.css") }}"/>
{% endblock %}

{% block additional_js %}<script src="{{ static("chess/js/chess-main.js") }}"></script>{% endblock %}

{% block content %}
    {% import 'chess/macros/chessboard.tpl.html' as chessboard with context %}
    <div>{{ chessboard.board_whole(game_presenter) }}</div>
{% endblock content %}
