@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PixelFont";
  src: url("/fonts/fibberish.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Medium.ttf") format("truetype");
}
