{% macro board_whole(game_presenter, board_id="main") -%}
    <div class="game-container"
        {#
         When the user clicks on anything that is not an interactive element of the chess board, and the state
         of this chess board is not "waiting_for_player_selection", then the chess board is reset to this state.
#}
        data-hx-get="{{ url("chess:htmx_game_no_selection", kwargs={"game_id": game_presenter.game_id}) }}?{{ {"board_id": board_id}|to_query_string }}"
        data-hx-trigger="click[cursorIsNotOnChessBoardInteractiveElement('{{ board_id }}')] from:document"
        data-hx-target="#chess-board-pieces-{{ board_id }}"
        >
        <div class="chess-board-container"
             id="chess-board-container-{{ board_id }}">
            {{ board_background(board_id=board_id) }}
            {{ board_pieces(game_presenter, board_id=board_id) }}
            {{ board_piece_available_targets(game_presenter, board_id=board_id) }}
        </div>
        <div class="chess-board-meta-display">
            {{ board_status_bar(game_presenter, board_id=board_id) }}
            {{ board_explanation(board_id=board_id) }}
            {{ board_move_confirmation_display(board_id=board_id) }}
        </div>
    </div>
{% endmacro -%}

{% macro board_background(board_id="main") -%}
    <div class="chess-board-background"
         id="chess-board-background-{{ board_id }}">
        {% for letter in "abcdefgh" %}
            {% for number in "12345678" %}
                <div class="square square-{{ letter }}{{ number }} {{ "square-odd-row" if letter in "bdfh" else "square-even-row" }}">
                    <div class="square-debug">{{ letter }}{{ number }}</div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{%- endmacro %}

{% macro board_pieces(game_presenter, board_id="main") -%}
    <div class="chess-board-pieces"
         id="chess-board-pieces-{{ board_id }}"
         {%- if game_presenter.is_bot_turn -%}
         data-hx-post="{{ url("chess:htmx_game_bot_move", kwargs={"game_id": game_presenter.game_id}) }}"
         data-hx-trigger="load delay:1s"
         data-hx-target="#chess-board-pieces-{{ board_id }}"
         {%- endif -%}>
        <div data-board-state="{{ game_presenter.board_state }}"
             aria-hidden="true"></div>
        {%- for square, piece in game_presenter.pieces_view.items() -%}
            {% set player_side = piece.piece|player_side_from_piece %}
            {% set belongs_to_my_side = player_side == game_presenter.my_side %}
            {% set belongs_to_active_player = player_side == game_presenter.active_player %}
            {% set classes = [
            "piece",
            "square",
            "square-" ~ square,
            "piece-" ~ piece.piece|lower,
            "side-" ~ player_side,
            "team-member-" ~ piece.id,
            "my-side" if belongs_to_my_side else "",
            "active-player" if belongs_to_active_player else "",
            "can-move" if square in game_presenter.squares_with_pieces_that_can_move else "",
            "selected" if game_presenter.selected_piece and game_presenter.selected_piece.square == square else "",
            "is-potential-capture" if game_presenter.selected_piece and game_presenter.selected_piece.is_potential_capture(square) else "",
            ]  %}
            <div class="{{ classes|join(" ") }}"
                 id="board-{{ board_id }}-side-{{ player_side }}-piece-{{ piece.id }}"
                 {%- if belongs_to_active_player -%}
                 data-hx-trigger="click"
                 data-hx-get="{{ url("chess:htmx_game_select_piece", kwargs={"game_id": game_presenter.game_id}) }}?{{ {"square": square, "board_id": board_id}|to_query_string }}"
                 data-hx-target="#chess-board-available-targets-{{ board_id }}"
                 {%- endif -%}>
                <div class="piece-display"></div>
                <div class="piece-debug">
                    {{ piece.piece|piece_unicode_from_symbol }}<small>#{{ piece.id }}</small>
                </div>
            </div>
        {%- endfor -%}
    </div>
{%- endmacro %}

{% macro board_piece_available_targets(game_presenter, board_id="main") -%}
    <div class="chess-board-available-targets"
         id="chess-board-available-targets-{{ board_id }}"
         data-chess-board-target="availableTargetsContainer">
        {% if game_presenter.selected_piece %}
            {% for square in game_presenter.selected_piece.available_targets %}
                <div class="target square square-{{ square }} side-{{ game_presenter.active_player_side }}"
                     data-hx-post="{{ url("chess:htmx_game_move_piece", kwargs={"game_id": game_presenter.game_id, "from_": game_presenter.selected_piece.square, "to": square}) }}"
                     data-hx-target="#chess-board-pieces-{{ board_id }}"
                     data-hx-swap="outerHTML">
                </div>
            {% endfor %}
        {% endif %}
    </div>
{%- endmacro %}

{% macro board_status_bar(game_presenter, board_id="main") -%}
    {# TODO: start using Tailwind for the "non chess board" stuff? #}
    <div class="chess-board-status" id="chess-board-status-{{ board_id }}">
        <div>
            {%- set board_state = game_presenter.board_state -%}
            {%- if board_state == "waiting_for_player_selection" %}
                {%- set score = game_presenter.score -%}
                Score:
                {% if score > 0 %}
                    Left-hand side leads by {{ score }} points
                {% elif score <  0 %}
                    Right-hand side leads by {{ -score }} points
                {% else %}
                    No player leading at the moment
                {%- endif %}
                <div class="chess-board-captured-pieces">
                    Captured&nbsp;pieces:&nbsp;
                    {%- for symbol in game_presenter.captured_pieces["w"] -%}{{ symbol|piece_unicode_from_symbol }}&nbsp;{%- else -%}None{%- endfor -%}
                        &nbsp;/&nbsp;
                        {%- for symbol in game_presenter.captured_pieces["b"] -%}{{ symbol|piece_unicode_from_symbol }}&nbsp;{%- else -%}None{%- endfor -%}
                        </div>
                    {%- elif board_state == "waiting_for_player_target_choice" %}
                        {{ board_team_member_display(game_presenter, board_id=board_id) }}
                    {%- endif %}
                </div>
            </div>
        {%- endmacro %}

        {% macro board_explanation(board_id="main") -%}
            <div class="board-explanation">
                <h4>Zakuchess is just chess!</h4>
                <ul>
                    <li>
                        Characters with <b>swords</b> are <b>pawns ♟</b>
                    </li>
                    <li>
                        Characters with <b>horses</b> are <b>Knights ♞</b>
                    </li>
                    <li>
                        Characters with <b>bows</b> are <b>Bishops ♝</b>
                    </li>
                    <li>
                        Characters with <b>magic sticks</b> are <b>Rooks ♜</b>
                    </li>
                    <li>
                        Characters with <b>[something]</b> are <b>Queens ♛</b>
                    </li>
                    <li>
                        Character with <b>[something]</b> are <b>Kings ♚</b>.
                        <br/>
                        The mission of each team is to protect theirs at all cost.
                    </li>
                </ul>
            </div>
        {%- endmacro %}

        {% macro board_team_member_display(game_presenter, board_id="main") -%}
            <div class="selected-team-member-display">
                {%- if game_presenter.selected_piece -%}
                    {%- set selected_piece = game_presenter.selected_piece -%}
                    <div class="team-member-piece-container chess-board-pieces">
                        <div class="piece">
                            <div class="piece-display piece side-{{ selected_piece.player_side }} piece-{{ selected_piece.symbol }}"></div>
                        </div>
                    </div>
                    <div class="team-member-info">
                        <p>
                            <span>{{ game_presenter.selected_piece.team_member.first_name }}</span>
                            <span>{{ game_presenter.selected_piece.team_member.last_name }}</span>
                        </p>
                        <p>
                            Chess equivalent: <span>{{ game_presenter.selected_piece.team_member.role|piece_unicode_from_role }}</span>
                        </p>
                    </div>
                </div>
            {%- endif -%}
        {%- endmacro %}

        {% macro board_move_confirmation_display(board_id="main") -%}
            <div class="move-confirmation-display overlay hidden"
                 data-chess-board-target="moveConfirmationContainer">
                {# Will be updated by our TeamMembersController #}
                <div class="move-confirmation-container">
                    <div>
                        Confirm move for
                        <span data-team-members-target="selectedTeamMemberFirstName"></span>
                        <span data-team-members-target="selectedTeamMemberLastName"></span>
                        ?
                    </div>
                    <div>
                        <button data-action="chess-board#confirmMove">Yes</button>
                        <button data-action="chess-board#cancelMove">No</button>
                    </div>
                </div>
            </div>
        {%- endmacro %}
